body.leafLogin {
    background: #111111;
}

.loginForm {
    padding-top: 11.5%;
    margin: 0 auto;
}

.loginForm * {
    box-sizing: border-box;
}

.loginForm__container {
    width: 280px;
    margin: 0 auto;
}

.loginForm__logo {
    margin-bottom: 36px;
}

.loginForm__field {
    margin-bottom: 21px;
}

.loginForm__field:nth-child(2) {
    margin-bottom: 42px;
}

.loginForm__field label {
    display: block;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.7px;
    margin-bottom: 7px;
}

.loginForm__field input {
    width: 100%;
    outline: 0;
    padding: 0;
    border: 0;
    font-weight: 700;
}

.loginForm__field input[type="text"],
.loginForm__field input[type="password"] {
    height: 35px;
    color: #1d1d1d;
    padding: 0 13px;
}

.loginForm__field input[type="text"] {
    font-size: 13px;
}

.loginForm__field input[type="password"] {
    font-size: 26px;
    letter-spacing: 4.3px;
}

.loginForm__field input[type="submit"] {
    height: 40px;
    background: #37b1a7;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
}

.loginFooter {
    position: fixed;
    width: 100%;
    height: 52px;
    bottom: 0;
    left: 0;
    border-top: 1px solid #1d1d1d;
    padding: 18px 23px 0 50px;
    box-sizing: border-box;
}

.loginFooter__links {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: left;
}

.loginFooter__link {
    float: left;
}

.loginFooter__link a {
    display: block;
    color: #37b1a7;
    font-size: 12px;
    padding: 0 11px;
}

.loginFooter__copyright {
    float: right;
    margin: 1px 0 0;
    font-size: 11px;
    color: #424141;
    letter-spacing: 0.3px;
}